# Abaikan folder hasil data & model
dataset/
embeddings/
models/
training_logs/

# Abaikan folder dan file Python environment lokal
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.venv*/
.env*/

# Abaikan file key Firebase (jangan sampai keupload!)
lib/serviceAccountKey.json
